# ## Globals ###
.DS_Store
Thumbs.db
*.log

# ## VSCode ###
.vscode/

# ## Backend ###
backend/node_modules/
backend/.env

# ## Frontend ###
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Root node_modules
node_modules/
